In [64]:
class FourCal:
    def __init__(self, first, second):
        self.first=first
        self.second=second
    def add(self):
        result=self.first+self.second
        return result
    def mul(self):
        result=self.first*self.second
        return result
    def sub(self):
        result=self.first-self.second
        return result
    def div(self):
        result=self.first/self.second
        return result


        

a=FourCal(4,0)
a.div()

ZeroDivisionError: division by zero

In [63]:
class More(FourCal,ring):
    def pow(self):
        result=self.first**self.second
        return result

a=More(5,2)

a.pp()

2

In [66]:
class Safe(FourCal):
    def div(self):
        if self.second==0:
            return 0
        else:
            return self.first/self.second


a=Safe(4,0)
a.div()

0

In [87]:
a=([1,2],[3,4])
for [first,second] in a:
    print([first,second])

[1, 2]
[3, 4]

In [88]:
try:
    4/0
except ZeroDivisionError as e:
    print(e)

division by zero

In [138]:
str1='-'

for i in range(2,10):
    print(f'{str1*10}{i}{str1*10}')
    for j in range(1,10):
        print(i*j,end="")
        print()

----------2----------
2
4
6
8
10
12
14
16
18
----------3----------
3
6
9
12
15
18
21
24
27
----------4----------
4
8
12
16
20
24
28
32
36
----------5----------
5
10
15
20
25
30
35
40
45
----------6----------
6
12
18
24
30
36
42
48
54
----------7----------
7
14
21
28
35
42
49
56
63
----------8----------
8
16
24
32
40
48
56
64
72
----------9----------
9
18
27
36
45
54
63
72
81

In [181]:
for i in range(1,10):
    for j in range(2,10):
        print(f'{j:>4}*{i:^2}={i*j:>2}',end="")
    print()

   2*1 = 2   3*1 = 3   4*1 = 4   5*1 = 5   6*1 = 6   7*1 = 7   8*1 = 8   9*1 = 9
   2*2 = 4   3*2 = 6   4*2 = 8   5*2 =10   6*2 =12   7*2 =14   8*2 =16   9*2 =18
   2*3 = 6   3*3 = 9   4*3 =12   5*3 =15   6*3 =18   7*3 =21   8*3 =24   9*3 =27
   2*4 = 8   3*4 =12   4*4 =16   5*4 =20   6*4 =24   7*4 =28   8*4 =32   9*4 =36
   2*5 =10   3*5 =15   4*5 =20   5*5 =25   6*5 =30   7*5 =35   8*5 =40   9*5 =45
   2*6 =12   3*6 =18   4*6 =24   5*6 =30   6*6 =36   7*6 =42   8*6 =48   9*6 =54
   2*7 =14   3*7 =21   4*7 =28   5*7 =35   6*7 =42   7*7 =49   8*7 =56   9*7 =63
   2*8 =16   3*8 =24   4*8 =32   5*8 =40   6*8 =48   7*8 =56   8*8 =64   9*8 =72
   2*9 =18   3*9 =27   4*9 =36   5*9 =45   6*9 =54   7*9 =63   8*9 =72   9*9 =81

In [196]:
class MyError(Exception):
    def __str__(self):
        return"하용되자 않는 별명을"


def say_nick(nick):
    if nick=="바보":
        raise MyError()
    print(nick)


try:
  
    say_nick("바보")
except MyError as e:
  
    print(e)

하용되자 않는 별명을

In [182]:
for i in range(1, 10):
    for j in range(2, 10):
        print(f'{j} * {i} = {j*i}', end='\t')
    print()

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81